<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/basic.css">
    <title>Friends locations</title>
</head>
<body>
    <div class="title">
        <h1>Map of your friends on Twitter</h1>
    </div>
    <div class="entering_input">
        <form method="POST" action="map">
            <p>
                <h2>Please input the twitter username:</h2>
            </p>
            <input class="user-input" type="text" name="username" id="username" size="50">
            <p><button type="submit" class="my-submit">Submit</button></p>
        </form>
    </div>

</body>
</html>